<h3>
    <a href="/toy" class="btn btn-danger">
        <i class="fa fa-plus"> </i> Create New Product
    </a>
    Toy List
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Price</th>
            <th>Product</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.price}}</td>
            <td>{{this.product}}</td>
            <td>
                <a href="/toy/{{this._id}}">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/toy/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true">

                    </i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>